@model Genre
@{

    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="create" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" >
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
