@model Author
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.FullName</h5>
                    <p class="card-text">Birth date : @Model.BirthDate.ToString("dd-MM-yyyy")</p>
                    <p class="card-text">Books count : @Model.Books.Count()</p>

                    <form asp-action="delete" method="post">
                          <a href="#" class="btn btn-primary">Go to back</a>
                          <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

